.navbar-header .navbar-brand {
    font-size: 35px;
    color: #BF5700;
}

.navbar-collapse .nav {
    font-size: 20px;
}

.hero {
    background-image: url('../images/uttower.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    min-height: 400px;
    height: 600px;
    width: inherit;
}

.jumbotron {
   background: rgba(220, 220, 220, .8); 
}